.stories {
    padding: 10px;
    background-color: azure;
    width: 580px;
    margin: 10px 10px 10px 250px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    overflow-x: auto;
}

.profileStories {
    padding: 10px;
    width: 700px;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
}