.suggestionPart {
    margin: 20px;
    padding: 10px;
    width: 450px;
}

.suggestProfile {
    display: flex;
}

.profileDetails {
    position: relative;
    float:left;
    width: 100%;
    padding: 10px;
    /* margin-left: 30px; */
}

.profileAvtar{
    padding-top: 5px;
    margin: auto;
    width: 100%;
    position: relative;
    /* float: right; */
    
}

.labelLink1 {
    padding: 20px;
    position: relative;
    float: right;
    /* align-items: right; */
    font-weight: 700;
    color: rgb(51, 135, 252);
    cursor: pointer;
}

#suggestProfileName {
    font-size: auto;
    font-weight: 500;
    position: relative;
    width: 80%;
}

#suggestName {
    /* font-size: 18px; */
    font-size: auto;
    font-weight: 500;
    color: gray;
    position: relative;
    width: 80%;
}

.suggestionsAll {
    display: flex;
    height: 50px;
}

.suggestionText {
    font-size: 30px;
    font-weight: 300;
    font-family: 'Freehand', cursive;
    color: rgb(235, 98, 159);
}



.seeAll {
    /* height:30;
    color:"white"; */
    background: "blueviolet";
    border: "1px solid white";
    border-radius: 15px;
    padding-top: 10px;
}


/* .suggestionsAll>h4 {
    margin-left: 210px;
    cursor: pointer;
}

.suggestionsAll>h3 {
    color: gray;
} */

.suggestionList {
    display: flex;
    height: 60px;
}

.suggestSubPoint {
    font-size: 18px;
    font-weight: 500;
    color: gray;
}

.suggestProfileDetails {
    padding-top: 10px;
    margin-left: 30px;
    width: 150px;
    justify-self: flex-end;
}

.suggestProfileName {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
}

.suggestSubPoint {
    font-size: 18px;
    font-weight: 500;
    color: gray;
}

.labelLink2 {
    padding-top: 20px;
    /* margin-left: 160px; */
    font-size: 18px;
    font-weight: 700;
    color: rgb(51, 135, 252);
    cursor: pointer;
    position: relative;
    float: right;
}

.footer {
    display: flex;
    /* margin-left: 30px; */
}

.footer a {
    margin-left: 10px;
    color: rgb(183, 181, 181);
}



.language {
    margin-left: 10px;
    color: rgb(183, 181, 181);
}

.copyright {
    margin-left: 10px;
    color: rgb(183, 181, 181);
}