.suggestionPart {
    margin: 20px;
    padding: 10px;
    width: 450px;
}

.suggestProfile {
    display: flex;
}

.profileDetails {
    margin-left: 30px;
}

.labelLink1 {
    padding: 10px;
    margin-left: 120px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(51, 135, 252);
    cursor: pointer;
}

#suggestProfileName {
    font-size: 18px;
    font-weight: 500;
}

#suggestName {
    font-size: 18px;
    font-weight: 500;
    color: gray;
}

.suggestionsAll {
    display: flex;
    height: 50px;
}

.suggestionText {
    font-size: 25px;
    font-weight: 600;
}

.seeAll{
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
}

/* .suggestionsAll>h4 {
    margin-left: 210px;
    cursor: pointer;
}

.suggestionsAll>h3 {
    color: gray;
} */

.suggestionList {
    display: flex;
    height: 60px;
}

.suggestSubPoint {
    font-size: 18px;
    font-weight: 500;
    color: gray;
}

.suggestProfileDetails {
    padding-top: 10px;
    margin-left: 30px;
    width: 150px;
    justify-self: flex-end;
}

.suggestProfileName {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
}

.suggestSubPoint {
    font-size: 18px;
    font-weight: 500;
    color: gray;
}

.labelLink2 {
    padding-top: 20px;
    /* margin-left: 160px; */
    font-size: 18px;
    font-weight: 700;
    color: rgb(51, 135, 252);
    cursor: pointer;
    position: relative;
    float: right;
}

.footer {
    display: flex;
    margin-left: 30px;
}

.footer a {
    margin-left: 10px;
    color: rgb(183, 181, 181);
}



.language {
    margin-left: 40px;
    color: rgb(183, 181, 181);
}

.copyright {
    margin-left: 40px;
    color: rgb(183, 181, 181);
}