.appBar {
    display: flex;
    /* padding-top: 10px; */
    /* border: 1px solid black; */
    /* background-color: antiquewhite; */
    width: 100%;

}

.webAppName {
    font-size: 36px;
    margin-left: 30%;
    margin-top: 10px;
    position: relative;
    color: rgb(245, 18, 173);
    width: fit-content;
    font-family: 'DynaPuff', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    /* background-color: yellow; */
}

.webAppName > h1{
    position: relative;
    width: 100% ;
}

.searchFiled>input {
    padding-left: 30px;
    position: relative;
    margin-left: 10%;
    margin-top: 20px;
    width: 80%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    background-color: rgb(240, 239, 239);
}

.appBarIcons {
    display: flex;
    position: relative;
    width: 100%;
    padding-left: 8%;
    padding-top: 10px;
}

.appBarIcons>* {
    width: 15%;
    /* margin-left: 5%; */
}

.suggestionButton1{
    width: fit-content;
    position: relative;
    margin-left: 30%;
}

.suggestionButton{
    width: fit-content;
    position: relative;
    margin-left: 36%;
}

